<!DOCTYPE html>
<html>
    <head>
        <title>Aproximación de e</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/calculoE.css">
    </head>
    <body>
        <div class="formulario">
        <form action="/calcular.html" method="GET">
            Número de iteraciones: 
            <input type="text" name="n">
            <input type="submit" value="Enviar">
        </form>
        </div>
        <% if(error){ %>
            <div class="error"> <%= error %> </div>
        <% } %>
    </body>
</html>
