<hr>
<div id = "menu">
    <div><img id = "fotoIcono" src = "/image/<%= image %>"></div>
    <a class="botonMenu" href="/perfil_principal"> Perfil </a>
    <a class="botonMenu" href="/perfil_amigos"> Amigos </a>
    <a class="botonMenu" href="/perfil_preguntas"> Preguntas </a>
    <a class="botonMenu" href="/logout"> Desconectar</a>
    <div id="puntos"> <%= score %> Puntos </div>
</div>
<hr>