body{
    background-color:antiquewhite;
}
.input-group{
    padding-top: 1rem;
    width: 40%;
}

.input-group-addon{
    width: 2.6rem;
}

#pestañaPartidas .input-group{
    width: 60%;
}
.centrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
#portada{
    padding-top: 3rem;
}

#subImagenPortada,#titulo,#botones,#crearUsuario,#pestañaPartidas, #pestañaAmiguetes{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav-tabs li a, #nombreUsuario{
    color:rgb(60, 70, 201);
}
#nombreUsuario{
    padding-right: 1rem;
}
/*
.up{
    margin-top: -6rem;
}*/