body{
    background-color: brown;
}
.input-group{
    padding-top: 1rem;
    width: 40%;
}
#pestañaAct .input-group{
    width: 60%;
}
.centrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
#portada{
    padding-top: 3rem;
}

#subImagenPortada,#titulo{
    padding-top: 1rem;
    padding-bottom: 1rem;
}